.project-card {
  width: 300px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.icon {
  width: 50px;
  height: 50px;
}

.avatars {
  display: flex;
  align-items: center;
}

.avatar {
  margin-top: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: -8px;
  border: 2px solid rgb(165, 63, 63);
}



.details p {
  font-size: 14px;
  margin: 5px 0;
}

.progress-section {
  margin-top: 10px;
}

.progress {
  height: 8px;
  border-radius: 5px;
}

.days-left {
  background: #f8d7da;
  color: #721c24;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 5px;
  display: inline-block;
}

fieldset
{
  border: 2px solid yellow;
  height: 370px;
}
.btn-group .btn {
  background-color: #4d4c7d; /* Dark blue shade */
  border: none;
}

.btn-group .btn.active {
  color: yellow;
  font-weight: bold;
}

.card{
  border-top: yellow dotted;
  border-left: yellow dashed;
  border-right: yellow dashed;
  border-bottom: 3px yellow solid;
}
