
.sidebar {
  width: 230px;
  margin: 10px;
  position: sticky;
  z-index: 1;
  top: 30px;
  background-color:hsl(236, 28%, 39%);
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  border-radius: 10px;
  padding: 10x 0;
  margin-top: 0px;
}

.sidebar.collapsed {
  width: 59px;
}

.menu-section {
  border-bottom: 1px solid #34495e;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #34495e;
}

.icon {
  font-size: 24px;
  margin-right: 15px;
}

.text {
  font-size: 19px;
  white-space: nowrap;
}

.arrow {
  margin-left: auto;
  font-size: 12px;
}

.sub-options {
  padding-left: 30px;
  background-color: #233140;
  display: none;
}

.sidebar.collapsed .text,
.sidebar.collapsed .arrow,
.sidebar.collapsed .sub-options {
  display: none;
}

.sidebar.collapsed .menu-item:hover .text,
.sidebar.collapsed .menu-item:hover .arrow {
  display: inline;
  position: absolute;
  left: 60px;
  background-color: #49285c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar.collapsed .menu-section:hover .sub-options {
  display: block;
  position: absolute;
  left: 60px;
  background-color: #2c3e50;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.bar {
  margin-top: 5px;
  height: 600px;
  overflow-y: auto;
  -ms-overflow-style: none;  /* Hides scrollbar in IE/Edge */
  scrollbar-width: none;


}
