
<div class="container-fluid">


<!-- 1st row -->
  <div class="row mt-3">
    <div class="col">
      <h5>Timeline</h5>
    </div>
  </div>


  <!-- 2nd row -->
<div class="d-flex flex-column justify-content-center ">
  <div class="row mt-3  ms-3 align-items-center">
    <!-- Date Filter Options -->
    <div class="col-lg-5 col-md-6 col-12 bg-primary rounded-2  mt-2 py-2">
      <div class="d-flex flex-row flex-wrap gap-3 mt-2 justify-content-start text-white ms-3 hover">
        <div class="hover"><h6 hover>Today</h6></div>
        <div><h6>
          YESTERDAY
        </h6></div>
        <div><h6>PAST 7 DAYS</h6></div>
        <div><h6>WEEKLY</h6></div>
      </div>
    </div>

    <!-- Date Picker -->
    <div class="col-lg-3 col-md-6 col-12 mt-2">
      <input class="form-control text-center rounded-2" type="date" style="width: 100%; height: 47px" />
    </div>

   <!-- User Selection Form Control -->
<div class="col-lg-4 col-md-12 col-12 mt-2 d-flex justify-content-md-center">
  <select class="form-select" style="height: 47px; width: 100%;">
    <option selected disabled>Select User</option>
    <option value="grace">Grace</option>
    <option value="gaberilla">Gaberilla</option>
    <option value="moly">Moly</option>
  </select>
</div>

  </div>
</div>

<!-- main content -->

<div class="card mt-3">
  <div class="card-body">
    <div class="row">

      <div class="col-6 ms-5">

<div class="d-flex flex-row gap-4">
  <div>
    <h6>Show</h6>
  </div>
  <div>
    <select name="" id="" class="form-select">
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
      <option value="">4</option>
    </select>
  </div>
  <div>
    entries
  </div>
</div>
      </div>
      <div class="col-2">
        <div class="d-flex flex-row gap-3">
          <div>
            <h6 class="m-1">Serach</h6>
          </div>
          <div>
            <input type="serach" class="form-control w-100 border-2 hover" >
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <table class="table w-100">
          <thead>
            <tr>
              <th scope="col" class="text-center col-4">user</th>
              <th scope="col" class="col-2">user Name</th>
              <th scope="col" class="col-3">Time Worked</th>
              <th scope="col" class="col-2 text-center">Track</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td scope="row">
                <canvas baseChart
                [data]="barChartData"  [type]="barChartType" >
                </canvas>
              </td>
              <td>
                <div class="mt-5 d-flex gap-4">
                  <div>
                    <img src="images.jpeg" alt="" width="50px" height="50px" class="rounded-3">
                  </div>
                  <div>
                    <h6>jelsi</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="mt-5">
                  <h6>7h 10min</h6>
                </div>
              </td>
              <td >
                <div class="mt-5">
                  <a href="" class="link-warning ">Click of tracking</a>

                </div>
              </td>
            </tr>
            <tr>
              <td scope="row">
                <canvas baseChart
                [data]="barChartData"  [type]="barChartType">
                </canvas>
              </td>
              <td>
                <div class="mt-5 d-flex gap-4">
                  <div>
                    <img src="images.jpeg" alt="" width="50px" height="50px" class="rounded-3">
                  </div>
                  <div>
                    <h6>jelsi</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="mt-5">
                  <h6>7h 10min</h6>
                </div>
              </td>
              <td >
                <div class="mt-5">
                  <a href="" class="link-warning ">Click of tracking</a>

                </div>
              </td>
            </tr>
            <tr>
              <td scope="row">
                <canvas baseChart
                [data]="barChartData"  [type]="barChartType" >
                </canvas>
              </td>
              <td>
                <div class="mt-5 d-flex gap-4">
                  <div>
                    <img src="images.jpeg" alt="" width="50px" height="50px" class="rounded-3">
                  </div>
                  <div>
                    <h6>jelsi</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="mt-5">
                  <h6>7h 10min</h6>
                </div>
              </td>
              <td >
                <div class="mt-5">
                  <a href="" class="link-warning ">Click of tracking</a>

                </div>
              </td>
            </tr>
            <tr>
              <td scope="row">
                <canvas baseChart
                [data]="barChartData"  [type]="barChartType" >
                </canvas>
              </td>
              <td>
                <div class="mt-5 d-flex gap-4">
                  <div>
                    <img src="images.jpeg" alt="" width="50px" height="50px" class="rounded-3">
                  </div>
                  <div>
                    <h6>jelsi</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="mt-5">
                  <h6>7h 10min</h6>
                </div>
              </td>
              <td >
                <div class="mt-5">
                  <a href="" class="link-warning ">Click of tracking</a>

                </div>
              </td>
            </tr>



          </tbody>
        </table>
      </div>


    </div>
    <div class="mt-3">
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <span class="page-link">2</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>




</div>
