body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  width: 16.57%;
  height: 100vh;
  background-color: rgb(244, 250, 250);
  overflow: hidden;
}

.main-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 83.33%;
  height: 100vh;
  padding-left: 0rem;
  background-color: rgb(244, 250, 250);
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: calc(100% - 16.67%);
  background: rgb(210, 233, 233);
  z-index: 1000;
}

.content-container {
  margin-top: 50px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding: 0rem;
}
