<div class="container-fluid mt-3">
  <div class="row mt-4">
    <div class="col-10">
      <h5>
        Tickets
      </h5>
    </div>
    <div class="col-2">
      <button class="btn btn-danger">
        + Add Tickets
      </button>
    </div>

  </div>
  <div class="row mt-2 ">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row mt-3 ms-3">
            <div class="col-10">
              <div class=" d-flex flex-row gap-2">
                <div class="mt-1">
                  show
                </div>
                <div>
                  <select class="form-select">
                    <option value="1"> 1</option>
                    <option value="2"> 2</option>
                    <option value="3">3</option>
                  </select>


                </div>
                <div class="mt-1">
                  entries
                </div>
              </div>
            </div>
            <div class="col-2 d-flex flex-row gap-2">
              <div class="mt-2">
                <h6>Search</h6>
              </div>
              <div>
                <input type="search" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="container mt-4">

                <table class="table table-hover mt-3">
                  <thead class="thead-dark">
                    <tr>
                      <th>TICKET ID</th>
                      <th>SUBJECT</th>
                      <th>ASSIGNED</th>
                      <th>CREATED DATE</th>
                      <th>STATUS</th>
                      <th>ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ticket of filteredTickets">
                      <td class="text-warning font-weight-bold">
                        <h5>
                          {{ ticket.id }}
                        </h5>

                      </td>
                      <td>{{ ticket.subject }}</td>
                      <td class=" d-flex flex-row gap-3">
                      <div class="d-flex flex-row gap-4">
                        <div>
                          <img src="images.jpeg" alt="" class="rounded-5">
                        </div>
                        <div>
                          <h6> {{ ticket.assigned }}</h6>

                        </div>
                      </div>
                      </td>
                      <td>{{ ticket.createdDate }}</td>
                      <td>
                        <h6><span class="badge text-bg-warning">{{ ticket.status }}</span></h6>



                      </td>
                      <td class=" d-flex  ">


                        <div class="d-flex flex-row gap-3">
                          <div>
                            <button class="btn btn-white btn-sm">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                              </svg>
                            </button>
                          </div>
                          <div>
                            <button class="btn btn-white btn-sm">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                              </svg>
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-8 ms-5">
              <p>shhowing 1 to 6 of 6 entries</p>
            </div>
            <div class="col-3">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>

                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
