
img
{
  width: 35px;
  height: 35px;
}


td {
  height: 50px !important; /* Adjust as needed */
  vertical-align: middle !important;
}
td {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
td {
  display: table-cell !important;
  vertical-align: middle;
 }
*{
  font-family: 'Times New Roman', Times, serif;
}
