
<!-- 1st row -->
<div class="container-fluid">
  <div class=" mt-4">
    <h5>Work Track</h5>
  </div>
</div>

<!-- /2nd row -->
<div class="d-flex flex-column justify-content-center">
  <div class="row mt-3  ms-5 align-items-center">
    <!-- Date Filter Options -->
    <div class="col-lg-5 col-md-6 col-12  rounded-2  mt-2 py-2" style="background-color: rgb(27, 91, 175);" >
      <div class="d-flex flex-row flex-wrap gap-3 mt-2 justify-content-st art text-white ms-3 hover" >
        <div class="hover"><h6 hover>Today</h6></div>
        <div><h6>
          YESTERDAY
        </h6></div>
        <div><h6>PAST 7 DAYS</h6></div>
        <div><h6>WEEKLY</h6></div>
      </div>
    </div>

    <!-- Date Picker -->
    <div class="col-lg-3 col-md-6 col-12 mt-2">
      <input class="form-control text-center rounded-2" type="date" style="width: 100%; height: 47px" />
    </div>

   <!-- User Selection Form Control -->
<div class="col-lg-4 col-md-12 col-12 mt-2 d-flex justify-content-md-center">
  <select class="form-select" style="height: 47px; width: 100%;">
    <option selected disabled>Select User</option>
    <option value="grace">Grace</option>
    <option value="gaberilla">Gaberilla</option>
    <option value="moly">Moly</option>
  </select>
</div>

  </div>
</div>
<!-- 3rd row  -Accordian -->

<div class="row mt-4 ">
  <div class="col">
    <div class="container ">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="mt-3 ms-4">
              <div class="row">
                <div class="col-1">
                  <img src="images.jpeg" alt="" width="50px" height="50px" class="rounded-5">
                </div>
                <div class="col-9 mt-3">
                  <h6>Jhin quin</h6>
                </div>
                <div class="col-2 mt-3">
                  <h6>2h 10min</h6>
                </div>
               </div>
               <div class="row mt-4 mb-4">
                <div class="col">
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=" width: 90%; height: 10px;">
                    <div class="progress-bar progress-bar-striped bg-success" style="width: 50%"></div>
                </div>
                </div>
               </div>
            </div>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div class="card">
                <div class="card-body">

                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="container">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="mt-3 ms-4">
              <div class="row">
                <div class="col-1">
                  <img src="images.jpeg" alt="" width="50px" height="50px" class="rounded-5">
                </div>
                <div class="col-9 mt-3">
                  <h6>Jhin quin</h6>
                </div>
                <div class="col-2 mt-3">
                  <h6>2h 10min</h6>
                </div>
               </div>
               <div class="row mt-4 mb-4">
                <div class="col">
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=" width: 90%; height: 10px;">
                    <div class="progress-bar progress-bar-striped bg-success" style="width: 50%"></div>
                </div>
                </div>
               </div>
            </div>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div class="card">
                <div class="card-body">

                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="container">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="mt-3 ms-4">
              <div class="row">
                <div class="col-1">
                  <img src="images.jpeg" alt="" width="50px" height="50px" class="rounded-5">
                </div>
                <div class="col-9 mt-3">
                  <h6>Jhin quin</h6>
                </div>
                <div class="col-2 mt-3">
                  <h6>2h 10min</h6>
                </div>
               </div>
               <div class="row mt-4 mb-4">
                <div class="col">
                  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style=" width: 90%; height: 10px;">
                    <div class="progress-bar progress-bar-striped bg-success" style="width: 50%"></div>
                </div>
                </div>
               </div>
            </div>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <div class="card">
                <div class="card-body">

                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      <p>Thu 8th jan 2024</p>
                    </div>
                    <div class="col-1">
                      <p  class="text-black">6h 10min</p>
                    </div>
                    <div class="col-4">
                      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped bg-success" style="width: 25%"></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



